<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a class="navbar__link" href="#home">Inicio</a></li>
        <li class="navbar__item">
            <a class="navbar__link" href="#parks">Parques</a>
            <ul class="dropdown-menu navbar__dropdown">
                <li class="navbar__dropdown-item"><a class="navbar__dropdown-link" href="#collserola">Parc de
                        Collserola</a></li>
                <li class="navbar__dropdown-item"><a class="navbar__dropdown-link" href="#ciutadella">Parc de la
                        Ciutadella</a></li>
                <li class="navbar__dropdown-item"><a class="navbar__dropdown-link" href="#montjuic">Montjuïc</a></li>
                <li class="navbar__dropdown-item"><a class="navbar__dropdown-link" href="#guinardo">Parc del
                        Guinardó</a></li>
                <li class="navbar__dropdown-item"><a class="navbar__dropdown-link" href="#besos">Parc del Besòs</a></li>
            </ul>
        </li>
        <li class="navbar__item"><a class="navbar__link" href="#advises">Consejos de visita</a></li>
    </ul>
</nav>